/* Common CSS Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  display: inline-block;
}
/* Common CSS End */

/* Navbar Section Start */
.navbar {
	position: absolute;
	width: 100%;
	font-family: 'Montserrat';
}

.nav-link {
  margin: 0 20px;
  color: #ffffff;
  position: relative;
  padding: 30px 10px 15px 10px;
	font-weight: 500;
	text-transform: uppercase;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

.nav-link:hover {
  color: #fce38a;
}

.nav-link::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #fce38a;
  transition: 0.6s;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

.nav-link:hover::after {
  width: 100%;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

/* Navbar Section End */

/* Banner Section Start */
#banner {
  background: linear-gradient(rgba(232, 134, 131, 0), rgba(239, 215, 138, 0)),
    url(../images/banner.png) no-repeat center / cover;
  padding: 200px 0;
}


.banner-text h4 {
	font-size: 72px;
	font-family: 'Caveat';
	color: #ffffff;
}

.banner-text h3 {
	font-size: 110px;
	color: #ffffff;
	line-height: 110px;
	font-family: 'Montserrat';
	font-weight: 700;
	text-transform: uppercase;
}

.banner-button {
	position: relative;
	margin-top: 70px;
}

.banner-button a {
  padding: 10px 40px;
  border: 2px solid #ffffff;
  color: #ffffff;
  word-spacing: 1.9px;
  transition: .6s;
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
}

.banner-button::before {
	position: absolute;
	content: '';
	height: 3px;
	width: 60px;
	background-color: #ffffff;
	left: 50%;
	top: -40px;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
/* Banner Section End */

/* About Section Start */
.section-title h3 {
	font-size: 24px;
	font-family: 'Caveat';
	line-height: 22px;
	color: #333333;
	font-weight: 700;
}

.section-title h2 {
	font-family: 'Montserrat';
	text-transform: uppercase;
	color: #333333;
	font-size: 30px;
	font-weight: 600;
	position: relative;
}

.section-title h2::after {
	position: absolute;
	content: '';
	height: 3px;
	width: 60px;
	background-color: #f38181;
	left: 50%;
	bottom: -30px;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

.about-card {
	position: relative;
}

.about-card::after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	background: linear-gradient(rgba(232, 134, 131, 0.897), rgba(239, 215, 138, 0.747));
	left: 0;
	top: 0;
	transform: scale(0);
	opacity: 0;
	-webkit-transform: scale(.2);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
}

.about-card:hover::after, .about-overlay {
	width: 100%;
	opacity: 1;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}

.about-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	color: #ffffff;
	opacity: 0;
	z-index: 1;
	transition: .6s;
	-webkit-transition: .6s;
	-moz-transition: .6s;
	-ms-transition: .6s;
	-o-transition: .6s;
}

.about-overlay a {
	color: #ffffff;
	font-size: 30px;
}

.about-overlay h3 {
	text-transform: uppercase;
	font-size: 22px;
}

.about-card:hover .about-overlay {
	opacity: 1;
}


/* About Section End */